.card-container {
  display: flex;
  justify-content: space-between;
  & .card {
    cursor: pointer;
    &:hover {
      box-shadow: 0 4px 8px 0 lime,
        0 6px 20px 0 lime;
    }
  }
}

.card {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  &.small {
    width: 100px;
    height: 100px;
  }
  img {
    width: 100%;
  }
}
